.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__mGm6 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
  background: linear-gradient(#ffffffcc, #ffffffcc),
    url("./images/hero.png") top 50% left 50% / cover repeat;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__mGm6 {
    padding-bottom: 0px;
  }
}
.container3 {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___2Ajy {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___2Ajy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___2Ajy > :global(.__wab_flex-container) > *,
.freeBox___2Ajy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Ajy > :global(.__wab_flex-container) > picture > img,
.freeBox___2Ajy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__qSiA {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__qSiA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qSiA > :global(.__wab_flex-container) > *,
.freeBox__qSiA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qSiA > :global(.__wab_flex-container) > picture > img,
.freeBox__qSiA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__r4J9W {
  width: 100%;
  height: auto;
  text-align: center;
  color: #333333 /* plasmic-token: hJV5OklbtTBd */;
  min-width: 0;
}
.button__vmL1:global(.__wab_instance) {
  position: relative;
}
.svg__rtE8U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dGjuw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section___08YqT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__az0Z5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__ebnar {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__ptD0:global(.__wab_instance) {
  position: relative;
}
.svg__lLwMa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__z0G9E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__af9Zz:global(.__wab_instance) {
  position: relative;
}
.svg__oeacs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__tu7Ad {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__x4L {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__ykNue {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  min-width: 0;
}
.rating__p5WyW:global(.__wab_instance) {
  position: relative;
}
.productCard__cAUjO:global(.__wab_instance) {
  position: relative;
}
.svg___6Vz6U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cgqe3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___6Nma {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mernN {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating___4RvP4:global(.__wab_instance) {
  position: relative;
}
.productCard__kwdRy:global(.__wab_instance) {
  position: relative;
}
.svg___1Ij49 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yzdCd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ujb2F {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__lOa3 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__fE31:global(.__wab_instance) {
  position: relative;
}
.productCard__sak4V:global(.__wab_instance) {
  position: relative;
}
.svg__pRene {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xaEBq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__fkewz {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fkndy {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating___3YUnS:global(.__wab_instance) {
  position: relative;
}
.productCard__yc4VW:global(.__wab_instance) {
  position: relative;
}
.svg__uMjed {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c2Bgi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jsbu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__m8Kfk {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__xDqIp:global(.__wab_instance) {
  position: relative;
}
.productCard___23Wu:global(.__wab_instance) {
  position: relative;
}
.svg__m6CHc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eySSl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___8HdQk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___4Svk0 {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  min-width: 0;
}
.rating__akRo:global(.__wab_instance) {
  position: relative;
}
.section__cljY {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__ymZng {
  flex-direction: column;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__ymZng > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ymZng > :global(.__wab_flex-container) > *,
.freeBox__ymZng > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ymZng > :global(.__wab_flex-container) > picture > img,
.freeBox__ymZng
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ymZng {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ymZng > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ymZng > :global(.__wab_flex-container) > *,
  .freeBox__ymZng > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ymZng > :global(.__wab_flex-container) > picture > img,
  .freeBox__ymZng
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__vHl75 {
  flex-direction: column;
  display: flex;
}
.freeBox__vHl75 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vHl75 > :global(.__wab_flex-container) > *,
.freeBox__vHl75 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vHl75 > :global(.__wab_flex-container) > picture > img,
.freeBox__vHl75
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__nXmwt {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__nXmwt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nXmwt > :global(.__wab_flex-container) > *,
.freeBox__nXmwt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nXmwt > :global(.__wab_flex-container) > picture > img,
.freeBox__nXmwt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ttOuQ {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__aupTy {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__awIp0 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__awIp0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__awIp0 > :global(.__wab_flex-container) > *,
.freeBox__awIp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__awIp0 > :global(.__wab_flex-container) > picture > img,
.freeBox__awIp0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awIp0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awIp0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__awIp0 > :global(.__wab_flex-container) > *,
  .freeBox__awIp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__awIp0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__awIp0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__xu5Uj {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg___9A0Zb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sKuNd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__iifJe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___8DgzZ:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__qD7F {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__lpIG {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__nZr1Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__op1Z8:global(.__wab_instance) {
  position: relative;
}
.svg__l26Jq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yWkX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__aoLy1 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__ps6Vg:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__nzeU4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__dg4S {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__gIbp4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__vKi0:global(.__wab_instance) {
  position: relative;
}
.svg__yR7EI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dutoO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__hGbw2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value___91DI:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___91DI:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__aQ8Gx {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__xj3Xc {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__jgZl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__mabzv:global(.__wab_instance) {
  position: relative;
}
.svg__tkb1T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ckiwp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__o0Coy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__jtOcx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__gFdYu {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__r54OG:global(.__wab_instance) {
  position: relative;
}
.svg__zpEg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fee9S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__sUdCs {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__sUdCs > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__sUdCs > :global(.__wab_flex-container) > *,
.freeBox__sUdCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sUdCs > :global(.__wab_flex-container) > picture > img,
.freeBox__sUdCs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__nnOpv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7PcN4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__eXs4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sytNd {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating___5Lcj6:global(.__wab_instance) {
  position: relative;
}
.productCard__xm1Xm:global(.__wab_instance) {
  position: relative;
}
.svg__iQrEq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ryC9V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__hf9A {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__foIaa {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__wZCi:global(.__wab_instance) {
  position: relative;
}
.productCard__l3FFs:global(.__wab_instance) {
  position: relative;
}
.svg__fzH89 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mVkad {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vydEp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hspRh {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating___0NYk:global(.__wab_instance) {
  position: relative;
}
.productCard__d1UYw:global(.__wab_instance) {
  position: relative;
}
.svg__l5Giq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rrEah {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__nNexT {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___3URs4 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__g5Ys4:global(.__wab_instance) {
  position: relative;
}
.productCard__ic18A:global(.__wab_instance) {
  position: relative;
}
.svg___9RmRk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vVij {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__w9EnY {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fhBU {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__stS8W:global(.__wab_instance) {
  position: relative;
}
.productCard__mLfGj:global(.__wab_instance) {
  position: relative;
}
.svg__swL2V {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xxKt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pon7O {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rqBl9 {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  min-width: 0;
}
.rating__dEi3Q:global(.__wab_instance) {
  position: relative;
}
.section__usqvI {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  flex-direction: row;
  max-width: 1366px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___4Vjv1 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___4Vjv1 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4Vjv1 > :global(.__wab_flex-container) > *,
.freeBox___4Vjv1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Vjv1 > :global(.__wab_flex-container) > picture > img,
.freeBox___4Vjv1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__otb5V {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__dTKl:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__qZeB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__y0IC {
  height: auto;
}
.svg__r3YK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__f2M1:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__cIq2B {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hKqgq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gt0Ke:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__bOcDv {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4KuA1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__g8Fex:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__lXrww {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rRiv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__y6RXq:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__tjsk3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pzjSv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__c4KR:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__kz39R {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__uhFjt {
  height: auto;
}
.svg__ffJK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__kfWr {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__kfWr > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kfWr > :global(.__wab_flex-container) > *,
.freeBox__kfWr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kfWr > :global(.__wab_flex-container) > picture > img,
.freeBox__kfWr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kfWr > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__mheB5:global(.__wab_instance) {
  position: relative;
}
.svg___1Uyk2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__galD0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ayhav {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___8Ozv0 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__m7Yjm:global(.__wab_instance) {
  position: relative;
}
.productCard__fNz0M:global(.__wab_instance) {
  position: relative;
}
.svg__luXI {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a6VjP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sM7Yf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__bjsfT {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__pzDXj:global(.__wab_instance) {
  position: relative;
}
.productCard__zc47O:global(.__wab_instance) {
  position: relative;
}
.svg__tu1Ie {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2EuV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___73GBn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___6Le7L {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__wFl5Y:global(.__wab_instance) {
  position: relative;
}
.productCard___3Y2Bt:global(.__wab_instance) {
  position: relative;
}
.svg__rcXGh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__liek6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__dGm8W {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__yX5Qx {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__jVBho:global(.__wab_instance) {
  position: relative;
}
.productCard__wt5G:global(.__wab_instance) {
  position: relative;
}
.svg__uAmSh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__naujr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__srA {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__sYwLr {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__dcrJe:global(.__wab_instance) {
  position: relative;
}
.productCard__xsb0:global(.__wab_instance) {
  position: relative;
}
.svg__n5H4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xgoA7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__zLmf1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__euOiv {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__vvYyL:global(.__wab_instance) {
  position: relative;
}
.productCard__f6Esl:global(.__wab_instance) {
  position: relative;
}
.svg__yGa4O {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xmzqw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__zna25 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1Dsjb {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__rnsqE:global(.__wab_instance) {
  position: relative;
}
.productCard__iupP:global(.__wab_instance) {
  position: relative;
}
.svg__pqHv6 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sSc7F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jEi0 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hxPAh {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__fIpdO:global(.__wab_instance) {
  position: relative;
}
.productCard__sd8Sz:global(.__wab_instance) {
  position: relative;
}
.svg__bSdky {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xRvnU {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__to0Jh {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__aaJfg {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__ynqRk:global(.__wab_instance) {
  position: relative;
}
.productCard__aiNqm:global(.__wab_instance) {
  position: relative;
}
.svg__x0EEm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__blXwm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__be4Rs {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__uitWm {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__m6Q20:global(.__wab_instance) {
  position: relative;
}
.productCard__old4:global(.__wab_instance) {
  position: relative;
}
.svg___5GNcU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__sEw7K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pQcp {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__hnSfs {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__fn0Dx:global(.__wab_instance) {
  position: relative;
}
.productCard__bzj6G:global(.__wab_instance) {
  position: relative;
}
.svg__zwPuK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eVvvp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___5RFdf {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__mF6Bz {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: 9H14EAsS5i8o */;
  text-align: left;
  min-width: 0;
}
.rating__jcokw:global(.__wab_instance) {
  position: relative;
}
.section__vMqCa {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value___6ZuCm:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___7Sx8L {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__evcd5 {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg__aaIs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__uhoVl:global(.__wab_instance) {
  position: relative;
}
.svg__mcv0L {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___3Gk5D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__kTc3I {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__ykkX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__y16Hx:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__y16Hx:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__uRjym {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__prn1X {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__kKva4:global(.__wab_instance) {
  position: relative;
}
.svg__laOvY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__a3ObJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uss8U {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__cT2Bc:global(.__wab_instance) {
  position: relative;
}
.svg__e19Ij {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cbfBf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__ungCl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value___6Tnt7:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value___6Tnt7:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__goA46 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__gH2H {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__nJfvs:global(.__wab_instance) {
  position: relative;
}
.svg__c0RtY {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v8Hz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__twgmP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__vftMu:global(.__wab_instance) {
  position: relative;
}
.svg__d13Ht {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lthIb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__e7B1S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__ti75L:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__ti75L:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__t0JhR {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text___5KDn1 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__wfiAy:global(.__wab_instance) {
  position: relative;
}
.svg__utaCa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__laki4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__unNts {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__nb8Ol:global(.__wab_instance) {
  position: relative;
}
.svg__gBilD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nrIGk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___0Ji05 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.value__qavdG:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__qavdG:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__d60Jr {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__e3UmG {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__qHqXw:global(.__wab_instance) {
  position: relative;
}
.svg__zRaqU {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fSa9F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tdWv9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__k8XbW:global(.__wab_instance) {
  position: relative;
}
.svg__nbQvr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lv3Xg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
