.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__uVy16 {
  flex-direction: row;
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__uVy16 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__uVy16 > :global(.__wab_flex-container) > *,
.freeBox__uVy16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVy16 > :global(.__wab_flex-container) > picture > img,
.freeBox__uVy16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__wTaew:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___1MfWr {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__dQk80 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___4Cq8G {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__wFSl:global(.__wab_instance) {
  position: relative;
}
.svg___9JKpa {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__dyYqp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__ghxR6:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__xjhv {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___6UHwj {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__nHIsA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__ki93F:global(.__wab_instance) {
  position: relative;
}
.svg__sy8Gr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lv5S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value___57Wjl:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__bWsJ6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__q2Ja7 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg___7GgUg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__rs083:global(.__wab_instance) {
  position: relative;
}
.svg__ex0Tm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___9Yg8C {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
